# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
   Sruthi Puchakayala

## Objectives:
* List popular Languages for Data Science
* List Tools used for Data Science
* List popular Libraries  used for Data Science
* Use jupiter Notebooks and Jupiter Labs
* Plot with R in RStudio
* Use GitHub

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JavaScript
5. Julia
6. Java
7. C++

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborne
5. ggplot
6. GGally
7. Keras

### Data Science Tools

|Data Science Tools|
|------------------|
| Jupiter Notebook |
| RStudio          |
| ApacheSparkSQL   |
| GitHub           |
| Spyder           |
| Zepplin          |
| KNIME            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
h=200/60
print("200 minutes = %.2f hours" %h)

200 minutes = 3.33 hours